{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
<body>
    <a href="/students">Students</a> <br> <br>
    <a href="../../">Home page</a>
    <h1>Student page</h1>
    <h2>Name : {{student.name}}</h2>
    <h2>course : {{student.course}}</h2>
    <h2>sid : {{student.sid}}</h2>
    <a href="/edit/{{student.id}}">Edit student</a>
    <a href="/delete/{{student.id}}">Delete student</a>
</body>
</html>

